@model RegisterViewModel
@using Exir.Regate
@using Tochal.Core.DomainModels.SSOT
@using DNTPersianUtils.Core.IranCities
@inject IOptions<ContactInfo> ContactInfo
@using Tochal.Toolkit
@{
    ViewData["Title"] = "ثبت نام";
    bool? CreateByAdmin = ViewBag.CreateByAdmin;
    UserTypeSSOT UserType = ViewBag.UserType;
}

@Html.Raw(Styles.MakeLayoutBlank())
<style>

    .form-control {
        font-weight: 200 !important;
        line-height: 1.5 !important;
        color: black;
        background-color: white !important;
        background-clip: padding-box !important;
        border: 1px solid #ced4da !important;
        border-radius: .25rem !important;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    }

        .form-control:placeholder {
            color: #808080;
        }

    .form-group {
        margin-top: 14px;
        margin-bottom: 14px !important;
    }

    form label, .form-radio-legend.col.col-md-4.state--required {
        text-align: left;
    }

    .radioform {
    }

    .phtl {
        position: relative;
    }

        .phtl .placeholder-to-label {
            position: absolute;
            background: linear-gradient(#f8f8f8 50%,#fff 60%);
            transition: all .05s ease-out;
            top: 10px;
            right: 10px;
            padding: 0 5px;
            font-size: 11px !important;
            font-weight: 100;
            color: #aaa;
        }
</style>
<style>

    .preload * {
        opacity: 0 !important;
    }

    .form-control {
        box-shadow: none;
    }

    .sweet-alert h2,
    .sweet-alert p,
    .sweet-alert button {
        font-family: 'IRANSans';
    }
</style>
<style>

    .preload * {
        opacity: 0 !important;
    }

    .form-control {
        box-shadow: none;
    }

    .register-block .form-control {
        border-radius: 5px !important;
    }

    .sweet-alert h2,
    .sweet-alert p,
    .sweet-alert button {
        font-family: 'IRANSans';
    }

    .form-control {
        margin-bottom: 13px;
        height: 35px;
    }

    form div label {
        font-weight: 400;
    }

    .radiocon {
        display: inline;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        background-color: #eaeaea;
        padding: 8px 0;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer !important;
    }

        /* Hide the browser's default radio button */
        .radiocon input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .radiocon:hover {
            background-color: #bdeeee;
        }

    .checked {
        color: white;
        background-color: #11c7c5;
        box-shadow: inset 0px 0px 5px 1px rgba(128, 128, 128, 0.3);
    }

    .headtitle {
        margin-top: 50px;
        font-size: 1.5em;
        color: #11c7c5;
    }

        .headtitle::after {
            color: black;
            content: ' » '
        }

        .headtitle::before {
            content: ' « ';
            color: black;
        }


    .fullscrn-bg {
        background-position: 50% 0;
        background-repeat: no-repeat;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-size: cover;
    }

    .content {
        padding: 0px;
    }

    .invalidi {
        border-color: #e74c3c !important
    }

        .invalidi::placeholder {
            color: red;
        }

    .text-danger {
        position: relative;
        top: -9px;
    }
</style>

<link rel="stylesheet" href="~/theme/assets/styles/login/login-rtl.css?v1.2.0" />

<div class="row ">
    <div class="fullscrn-bg" style="background-image: url(/theme/assets/images/reg/bg.jpg)"></div>
    <div class="dark-translucent-bg padding-top-20 padding-bottom-20">
        <div class="container">
            <div class="row">
                <div class="object-visible">
                    <div class="form-block center-block register-block" style="background-color:#f8f8f8">
                        <div class="text-center">

                        </div>

                        <div class="box-form text-right">
                            <div style="text-align:center">
                                <h3 class="box-form-loginTitle" style="font-size: 1.4rem; margin-top: 1.5rem">به سامانه ثبت نام</h3>
                                <h4 class="box-form-title" style="color:#11c7c5">@ContactInfo.Value.SiteTitle</h4>
                                <h3 class="box-form-loginTitle" style="font-size: 1.4rem;">خوش آمدید</h3>
                                <h4 class="box-form-subTitle">@ContactInfo.Value.SiteSlogan </h4>
                                <h2 class="headtitle company">ثبت‌نام صنايع و شرکتهای پذيرنده کارآموز</h2>
                                <h2 class="headtitle student">ثبت‌نام دانشجو و اشخاص حقيقی</h2>
                                <h2 class="headtitle university">ثبت‌نام دانشگاه‌ها</h2>
                            </div>
                            <form asp-controller="Register"
                                  asp-action="Index"
                                  asp-route-CreateByAdmin="@CreateByAdmin"
                                  method="post">
                                <input value="@ViewBag.UserType" type="hidden" name="UserType" />

                                <div class="university" style="margin:50px 0 -35px 0">
                                    <h5 style="font-weight:500">اطلاعات دانشگاه</h5>
                                    <hr style="margin-top:15px;padding:0;height:1px;background-color:#e5e5e5 !important" />
                                </div>
                                <div class="student" style="margin:50px 0 20px 0">
                                    <h5 style="font-weight:500">اطلاعات دانشجو</h5>
                                    <hr style="margin-top:15px;padding:0;height:1px;background-color:#e5e5e5 !important" />
                                </div>
                                <div class="company" style="margin:50px 0 -35px 0">
                                    <h5 style="font-weight:500">اطلاعات شرکت</h5>
                                    <hr style="margin-top:15px;padding:0;height:1px;background-color:#e5e5e5 !important" />
                                </div>

                                <div class="form-radio form-radio-inline form-row company university" style="margin-top:50px">
                                    <div>
                                        <label class="radiocon col-xs-6 checked" style="border-radius:0px 5px 5px 0px;border-left-color:#ddd">
                                            مرکز مستقل
                                            <input asp-for="CenterType" class="optionalfield" type="radio" data-val="true" value="true" />
                                        </label>

                                        <label class="radiocon col-xs-6" style="border-radius:5px 0px 0px 5px;border-right-color:#ddd">
                                            مرکز غیر مستقل
                                            <input asp-for="CenterType" class="optionalfield" type="radio" data-val="false" value="false" />
                                        </label>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6 nonRelated" style="display: none;">
                                            <div class="phtl">
                                                <input placeholder="شناسه ملی مرکز اصلی" dir="rtl" asp-for="CompanyNationalMainId" class="form-control" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="CompanyNationalMainId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 company university nonRelated" style="display: none;">
                                            <div class="phtl">
                                                <input placeholder="نام مرکز اصلی" dir="rtl" asp-for="CompanyNationalMainName" class="form-control" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="CompanyNationalMainName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="form-row company university related" style="display: none;">
                                    <div class="phtl">
                                        <input dir="rtl" placeholder="شناسه ملی" asp-for="CompanyNationalId" class="form-control" />
                                        <span class="placeholder-to-label"></span>
                                        <span asp-validation-for="CompanyNationalId" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 company">
                                        <div class="phtl">
                                            <input placeholder="سال تاسیس" maxlength="4" asp-for="StartDate" dir="rtl" name="StartDate" class="form-control" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="StartDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 company">
                                        <div class="phtl">
                                            <select placeholder="نوع واحد صنعتی" required asp-for="industrialType" asp-items="Html.GetEnumSelectList<industrialTypeSSOT>()" class="form-control">
                                                <option disabled selected value="0">نوع واحد صنعتی</option>
                                            </select>
                                            <div class="placeholder-to-label"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 company">
                                        <div class="phtl">
                                            <select placeholder="وابسته به" required class="form-control" name="RelatedOn" id="RelatedOnDrop">
                                            </select>
                                            <div class="placeholder-to-label"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 company" style="display: none;">
                                        <div class="phtl">
                                            <input id="companyname" placeholder="نام کامل فارسی واحد صنعتی" dir="rtl" asp-for="CompanyName" class="form-control" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 company">
                                        <div class="phtl">
                                            <input id="companynameen" placeholder="نام انگلیسی واحد صنعتی" dir="rtl" name="CompanyNameEn" class="form-control optionalfield" asp-for="CompanyNameEn" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="CompanyNameEn" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-md-6 company">
                                        <div class="phtl">
                                            <input placeholder="زمینه فعالیت واحد صنعتی" dir="rtl" asp-for="ActivityField" class="form-control" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="ActivityField" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 company">
                                        <div class="phtl">
                                            <input id="managername" placeholder="نام و نام خانوادگی رئیس واحد صنعتی" dir="rtl" name="ManagerName" class="form-control" asp-for="ManagerName" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="ManagerName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                @if (UserType == UserTypeSSOT.Company)
                                {


                                    <div class="testref2">
                                        <div class="form-row company">
                                            <div class="phtl">
                                                <input placeholder="نشانی" dir="rtl" class="form-control" asp-for="Address" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row company">
                                        <div class="col-md-6">
                                            <div class="phtl">
                                                <input placeholder="تلفن ثابت" dir="rtl" pattern="[0-9]" maxlength="11" asp-for="CallNumber" class="form-control optionalfield" title="نمونه: 02133333333" data-toggle="tooltip" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="CallNumber" class="text-danger"></span>
                                            </div>
                                        </div>



                                        <div class="col-md-6 company">
                                            <div class="phtl">
                                                <input placeholder="نمابر" dir="rtl" asp-for="Fax" class="form-control optionalfield" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="Fax" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row company">
                                        <div class="col-md-12">
                                            <div class="phtl">
                                                <input placeholder=" وبسایت" dir="rtl" asp-for="WebSite" class="form-control optionalfield" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="WebSite" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                }




                                <div class="row">
                                    <div class="form-radio form-radio-inline col-md-6 student">
                                        <div>
                                            <label id="maleGender" name="Gender" class="radiocon col-xs-6 checked" style="border-radius:0px 5px 5px 0px;border-left-color:#ddd">
                                                مرد
                                            </label>
                                            <label id="femaleGender" name="Gender" class="radiocon col-xs-6" style="border-radius:5px 0px 0px 5px;border-left-color:#ddd">
                                                زن
                                            </label>
                                            <input class="optionalfield" type="hidden" name="Gender" asp-for="Gender" value="true" />
                                        </div>
                                    </div>

                                    <div class="form-radio form-radio-inline col-md-6 student">
                                        <div>
                                            <label id="itsIranian" name="IsIrainian" class="radiocon col-xs-6 checked" style="border-radius:0px 5px 5px 0px;border-left-color:#ddd">
                                                ایرانی
                                            </label>
                                            <label id="notIranian" name="IsIrainian" class="radiocon col-xs-6" style="border-radius:5px 0px 0px 5px;border-left-color:#ddd">
                                                غیر ایرانی
                                            </label>
                                            <input class="optionalfield" type="hidden" name="IsIrainian" asp-for="IsIrainian" value="true" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 student">
                                        <div class="phtl">
                                            <input placeholder="نام" dir="rtl" asp-for="FirstName" class="form-control" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6 student">
                                        <div class="phtl">
                                            <input placeholder="نام خانوادگی" dir="rtl" asp-for="LastName" class="form-control" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row testmail">
                                    <div class="phtl">
                                        <input id="ccc" placeholder="ایمیل" dir="rtl" asp-for="Email" class="form-control" />
                                        <span class="placeholder-to-label"></span>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                @if (UserType == UserTypeSSOT.Person)
                                {

                                    <div class="testref2">
                                        <div class="form-row student">
                                            <div class="phtl">
                                                <input placeholder="نشانی" dir="rtl" class="form-control" asp-for="Address" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row student">
                                        <div class="col-md-6">
                                            <div class="phtl">
                                                <input dir="rtl" placeholder="تلفن ثابت" pattern="[0-9]" maxlength="11" asp-for="CallNumber" class="form-control optionalfield" title="نمونه: 02133333333" data-toggle="tooltip" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="CallNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 student">
                                            <div class="phtl">
                                                <input dir="rtl" placeholder="تلفن همراه" asp-for="PhoneNumber" class="form-control ltrme" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                }


                                <div class="row">
                                    <div class="col-md-6 university">
                                        <div class="phtl">
                                            <select placeholder="نوع دانشگاه" required class="form-control" name="UniTypeId" id="UniTypeDrop">
                                            </select>
                                            <div class="placeholder-to-label"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 university">
                                        <div class="phtl">
                                            <input placeholder="نام دانشگاه" dir="rtl" asp-for="UniversityName" class="form-control" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="UniversityName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-6 university">
                                        <div class="phtl">
                                            <input placeholder="مدیر ارتباط با صنعت" dir="rtl" asp-for="IndustryRelationsManagerName" class="form-control" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="IndustryRelationsManagerName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 university">
                                        <div class="phtl">
                                            <input placeholder="ایمیل مدیر ارتباط با صنعت" dir="rtl" asp-for="IndustryRelationsManagerEmail" class="optionalfield form-control" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="IndustryRelationsManagerEmail" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 university">
                                        <div class="phtl">
                                            <input placeholder="نام و نام خانوادگی رئیس دانشگاه" dir="rtl" asp-for="UniManagerName" class="form-control" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="UniManagerName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row testcity">
                                    <div class="col-md-6">
                                        <div class="form-element form-select phtl">
                                            <select required name="ProvinceId" id="ProvinceDrop" data-role="province" class="form-element-field form-control" placeholder="استان">
                                            </select>
                                            <div class="placeholder-to-label"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 liarlist">
                                        <div class="form-element form-select phtl">
                                            <select disabled class="form-element-field form-control" placeholder="شهر">
                                                <option value="0">شهر</option>
                                            </select>
                                            <div class="placeholder-to-label"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-provience">
                                        <div class="form-element form-select phtl">
                                            <select class="form-element-field form-control selectCity" name="CityId" id="CityDrop" placeholder="شهر">
                                            </select>
                                            <div class="placeholder-to-label"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 company">
                                        <div class="phtl">
                                            <input dir="rtl" placeholder="شماره ثبت" asp-for="registrationNumber" name="registrationNumber" class="form-control" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="registrationNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                @if (UserType == UserTypeSSOT.university)
                                {


                                    <div class="form-row university">
                                        <div class="phtl">
                                            <input placeholder="نشانی" dir="rtl" class="form-control" asp-for="Address" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 university">
                                            <div class="phtl">
                                                <input placeholder="تلفن ثابت" dir="rtl" pattern="[0-9]" maxlength="11" asp-for="CallNumber" class="form-control optionalfield" title="نمونه: 02133333333" data-toggle="tooltip" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="CallNumber" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6 university">
                                            <div class="phtl">
                                                <input placeholder="نمابر" dir="rtl" asp-for="Fax" class="form-control optionalfield" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="Fax" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row university">
                                        <div class="col-md-12">
                                            <div class="phtl">
                                                <input placeholder=" وبسایت" dir="rtl" asp-for="WebSite" class="form-control optionalfield" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="WebSite" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="student" style="margin:50px 0 20px 0">
                                    <h5 style="font-weight:500">اطلاعات کاربری</h5>
                                    <hr style="margin-top:15px;padding:0;height:1px;background-color:#e5e5e5 !important" />
                                </div>
                                <div class="company university" style="margin:50px 0 20px 0">
                                    <h5 style="font-weight:500">اطلاعات مسئول کارآموزی</h5>
                                    <hr style="margin-top:15px;padding:0;height:1px;background-color:#e5e5e5 !important" />
                                </div>

                                <div class="row company university company">
                                    <div class="col-md-6">
                                        <div class="phtl">
                                            <input placeholder="نام مسئول کارآموزی" dir="rtl" name="ExpertTochal" asp-for='ExpertTochal' class="form-control" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="ExpertTochal" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="phtl">
                                            <input placeholder="تلفن همراه" dir="rtl" asp-for="PhoneNumber" class="form-control ltrme" />
                                            <span class="placeholder-to-label"></span>
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row student">
                                    <div class="phtl">
                                        <input placeholder="کد ملی" dir="rtl" pattern="[0-9]" maxlength="10" asp-for="NationalCode" class="form-control" />
                                        <span class="placeholder-to-label"></span>
                                        <span asp-validation-for="NationalCode" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="testref">
                                    <div class="row ">
                                        <div class="col-md-6">
                                            <div class="phtl">
                                                <input required dir="rtl" placeholder="کلمه عبور" asp-for="Password" class="form-control input-validation-error" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="phtl">
                                                <input required dir="rtl" placeholder="تکرار کلمه عبور" asp-for="ConfirmPassword" class="form-control" />
                                                <span class="placeholder-to-label"></span>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @if (UserType == UserTypeSSOT.Company)
                                {
                                    <div class="form-row company" style="display: none;">
                                        <label asp-for="CompanyConfirm" class="col-form-label text-md-left"></label>
                                        <div class="">
                                            <div class="btn">
                                                <img src="~/theme/assets/icons/print.png" style="width:17px"></img>
                                                @*<a target="_blank" href="~/Identity/Register/EmtpyComfirmCompany?name=&compnayName=">پرینت فرم تایید صنعت</a>*@
                                                <a onclick="window.open('/Identity/Register/EmtpyComfirmCompany'+'?name='+$('#managername').val() + '&compnayName='+$('#companyname').val(),'_blank')">پرینت فرم تایید صنعت</a>

                                            </div>
                                            @Html.Raw(RegateFile.Build("CompanyConfirm", "", true))
                                            <span asp-validation-for="CompanyConfirm" class="text-danger"></span>
                                        </div>
                                        <div style="margin-top:10px;color:#e74c3c" dir="rtl">&#9888;پرینت فرم تایید صنعت بر روی سربرگ شرکت انجام شود.</div>
                                    </div>
                                }

                                <div class="row" style="margin-top:30px">
                                    <div class="col-md-3" style="float:left">
                                        <button type="submit" class="btn btn-exir col-md-12">ثبت نام</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="register__footer">
        <div class="sticky-footer">
            <a href="http://www.exirresearch.ir/" target="_blank"><img class="footer-logo" src="~/theme/assets/images/exir-logo.png" /></a>
            <div class="copyright-space">
                <div class="copyright-text">کلیه حقوق این سامانه متعلق به<strong> @ContactInfo.Value.SiteTitle </strong> است.</div>
                <p class="copyright-link">طراحی و توسعه: <a href="http://www.exirresearch.ir/" target="_blank">فناوری دانش و پژوهش اکسیر</a></p>
            </div>
        </div>
    </div>
</div>

@*<script>
        (function () {
            var parent = $('[data-province]').closest('.col-provience')
            parent.hide()

            function change(elem) {
                var province = $(elem).val();
                var town = $('[data-province]')
                town.hide().filter('[data-province="' + province + '"]').show()

                for (var i = 0; i < $('[data-province]').length; i++) {
                    $('[data-province]')[i].name = "";
                }

                $('[data-province]').filter('[data-province="' + province + '"]')[0].name = "CityName";
            }

            $('[data-role="province"]').on('change', function () {
                $('.liarlist').remove();
                change(this);
                parent.show()
            });


            change($('[data-role="province"]'));

            $('[required]').map(function (index, item) {
                var placeholder = $(this).attr('placeholder');
                $(this).attr('oninvalid', 'alert("' + placeholder + ' باید مقدار داشته باشد ")');
            })
        }());

    </script>*@



<script>

    $(document).ready(function () {
        var UserType = @((int)ViewBag.UserType);

            if (UserType == 0) {

                $(".company").hide();
                $(".company select").removeAttr('required');
                document.querySelectorAll('.company').forEach((e)=>{
                    e.removeAttribute('required');
                })

                $(".university").hide();
                $(".university select").removeAttr('required');
                document.querySelectorAll('.university').forEach((e)=>{
                    e.removeAttribute('required');
                })

                $(".student").show();

                $('#companynameen').remove();
                $('#managername').remove();

                $(".student input").not($('.related input , .nonRelated input','.optionalfield')).attr('required', true);

                let refd = document.querySelector('.testref2');
                let newd = document.querySelector('.testcity');
                refd.insertBefore(newd, refd.childNodes[0])
            }
            else if (UserType == 1) {

                $(".student").hide();
                $(".student select").removeAttr('required');
                document.querySelectorAll('.student').forEach((e)=>{
                    e.removeAttribute('required');
                })
                $(".university").hide();
                $(".university select").removeAttr('required');
                document.querySelectorAll('.university').forEach((e)=>{
                    e.removeAttribute('required');
                })

                let refd = document.querySelector('.testref2');
                let newd = document.querySelector('.testcity');
                refd.insertBefore(newd, refd.childNodes[0])

                let a = document.querySelector('.testref');
                let b = document.querySelector('.testmail');
                a.insertBefore(b, a.childNodes[0])

                $(".company").show();
                $(".company input").not($('.optionalfield')).attr('required', true);
                $(".company select").attr('required', true);


                $.ajax({
                    type: "Get",
                    url: '/Ministry/ApiGetAll',
                    dataType: 'json',
                    success: function (json) {
                        var $el = $("#RelatedOnDrop");
                        $el.append($("<option disabled selected></option>")
                            .attr("value", '0').text('وابسته به'));
                        $.each(json, function (value, key) {
                            $el.append($("<option></option>")
                                .attr("value", key.id).text(key.name));
                        });

                    }
                });

        }
        else if (UserType == 2) {

                $(".student").hide();
                $(".student select").removeAttr('required');
                document.querySelectorAll('.student').forEach((e)=>{
                    e.removeAttribute('required');
                })

                $(".company").hide();
                $(".company select").removeAttr('required');
                document.querySelectorAll('.company').forEach((e)=>{
                    e.removeAttribute('required');
                })

                $(".university").show();
                $(".university input").not($('.optionalfield')).attr('required', true);
                $(".university select").attr('required', true);

                let a = document.querySelector('.testref');
                let b = document.querySelector('.testmail');
                a.insertBefore(b, a.childNodes[0]);

                 $.ajax({
                    type: "Get",
                    url: '/BankUniversityType/ApiUniversityTypes',
                    dataType: 'json',
                    success: function (json) {
                        var $el = $("#UniTypeDrop");
                        $el.append($('<option disabled selected></option>')
                            .attr("value", '0').text('نوع دانشگاه'));
                        $.each(json, function (value, key) {
                            $el.append($("<option></option>")
                                .attr("value", key.id).text(key.title));
                        });

                    }
                 });

                $('#managername').parent().removeClass('col-md-6').addClass('col-md-12')
                $('#companynameen').remove();
        }

        $(".nonRelated").hide();
        $(".nonRelated input").removeAttr('required')


        $("input[type='radio'][name='CenterType']").on('change', function () {
             var radioSelected = $("input[type='radio'][name='CenterType']:checked").data('val');
             if (radioSelected == true) {

                 $(".related").show();
                 $(".nonRelated").hide();
                 $(".related input").attr('required',true)
                 $(".nonRelated input").removeAttr('required')

            } else if (radioSelected == false) {

                $(".nonRelated").show();
                 $(".related").hide();
                 $(".nonRelated input").attr('required',true)
                 $(".related input").removeAttr('required')
            }
        });


    });

</script>

<script>

    $('.ltrme').on('keyup', () => {
        $('.ltrme').attr('dir', 'ltr');
    })

    // added zero in input
    $(document).ready(function () {
        var callNumberTag = document.querySelector('#CallNumber');
        callNumberTag.addEventListener("focus", (e) => {
            $(callNumberTag).attr('dir', 'ltr')
            if (callNumberTag.value == 0) {
                callNumberTag.value = 0

            }
        })
        callNumberTag.addEventListener("keyup", KeyCheck)
        $(callNumberTag).blur(keyClear)
        function KeyCheck(event) {
            if (callNumberTag.value.length == 0) {
                callNumberTag.value = 0
            }
        }

        function keyClear() {
            if (callNumberTag.value == 0) {
                callNumberTag.value = ''
            }
        }

    });
</script>

<script>

    $('.radiocon').on('click', function (e) {
        $(e.target).addClass('checked');
        $(e.target).next().removeClass('checked')
        $(e.target).prev().removeClass('checked')
    });


    $('#ccc').keydown(() => {
        $('#ccc').attr('dir', 'ltr');
    })

    $('input').not($('.optionalfield')).keydown(() => {
        $('button').prop('disabled', false);
    })
    $('select').change(() => {
        $('button').prop('disabled', false);
    })

    $('form').on('submit', (e) => {
        //e.preventDefault();
        let inputss = document.querySelectorAll('input');
        inputss.forEach((e) => {
            if (e.value.length == 0) {
                $(e).not($('.optionalfield')).addClass('invalidi')
            }
        })
        //$('.input-validation-error').Class('invalidi')
        $('.valid').removeClass('invalidi')

        let selecthandler = document.querySelectorAll('select');
        selecthandler.forEach((e) => {

            if (e.value == 0) {
                $(e).not($('.optionalfield')).addClass('invalidi')
            }

        })



        var test = $('#fileupload__file__CompanyConfirm').attr('href');
        if (test === "") {
            $('#uploadFileButton__CompanyConfirm').css('border', '1px solid').addClass('invalidi')
        }
        else {
            $('#uploadFileButton__CompanyConfirm').css('border', 'none').removeClass('invalidi')
        }
    })

    $('#uploadFileButton__CompanyConfirm').on('click', () => {
        console.log("testestetewt");
        $('#uploadFileButton__CompanyConfirm').css('border-color', 'rgba(27, 31, 35, 0.2)').removeClass('invalidi')
    })





    $('input').not($('.optionalfield')).on('keyup', (e) => {
        if (e.target.value.length <= 0) {
            $(e.target).addClass('invalidi')
        }
    })



    $('input').not($('.optionalfield')).on('focus', (e) => {

        if (!$(e.target).hasClass('valid')) {
            $(e.target).addClass('invalidi');
        }
    })

    $('input').not($('.optionalfield')).on('blur', (e) => {
        if (e.target.value.length <= 0) {
            $(e.target).addClass('invalidi')
        }
        if ($(e.target).hasClass('valid')) {
            $(e.target).removeClass('invalidi');
        }
        //$('.input-validation-error').addClass('invalidi')
    })

    //$('select').addClass('invalidi')
    $('select').on('change', (e) => {
        e.target.classList.remove('invalidi')
    })

    $('[name= "ProvinceId"]').on('change', () => {

        $('.selectCity').removeAttr('required');

        $('[name= "CityId"]').attr('required', 'required');
    })



</script>

<script>

    $("[name='Gender']").val('true')
    $("[name='IsIrainian']").val('true')

    $('#maleGender').on('click', function () {
        $("[name='Gender']").val('true')
    })

    $('#femaleGender').on('click', function () {
        $("[name='Gender']").val('false')

    })
    $('#itsIranian').on('click', function () {
        $("[name='IsIrainian']").val('true')
    })

    $('#notIranian').on('click', function () {
        $("[name='IsIrainian']").val('false')

    })
</script>

<script>

    //Placeholder to label Script

    let inputs = [];
    let ph = [];
    let newlabel = document.querySelectorAll('.placeholder-to-label');
    newlabel.forEach((el, val) => {
        inputs.push(el.previousSibling.previousSibling);
        if (inputs[val].placeholder == undefined) {
            console.log('undefined', $(inputs[val]).attr('placeholder'))
            ph.push($(inputs[val]).attr('placeholder'));
        } else {
            ph.push(inputs[val].placeholder);
        }
        $(inputs[val]).on('focus', () => {
            $(inputs[val]).attr('placeholder', '')
            $(el).html(`<span>${ph[val]}</span>`);
            $(el).css('top', '-8px')
        })
        $(inputs[val]).on('blur', () => {
            $(inputs[val]).attr('placeholder', ph[val])
            if ($(inputs[val]).val() == 0) {
                $(el).html(`<span></span>`);
                $(el).css('top', '10px')
            }
        })
        //if ($(inputs[val]).val() !== 0) {
        //    $(inputs[val]).attr('placeholder', '')
        //    $(el).html(`<span>${ph[val]}</span>`);
        //    $(el).css('top', '-8px')
        //}
    })
</script>

<script>

    $('.col-provience').hide();

    $.ajax({
        type: "Get",
        url: '/Identity/Register/ApiBankProvinces',
        dataType: 'json',
        success: function (json) {
            var $el = $("#ProvinceDrop");
            $el.append($("<option selected disabled></option>")
                .attr("value", '').text('استان'));
            $.each(json, function (value, key) {
                $el.append($("<option></option>")
                    .attr("value", key.id).text(key.provinceName));
            });

        }
    });

    $('.liarlist').on('click', () => {
        $('.col-provience').show();
        $('.liarlist').hide();
    })

    $(document).on("change", '#ProvinceDrop', function (e) {

        $('.liarlist select').removeAttr('disabled');
        var ProvinceId = $(this).val();
        $('#CityDrop').show();
        $("#CityDrop option").remove();
        $.ajax({
            type: "Get",
            data: { id: ProvinceId },
            url: '/Identity/Register/ApiBankCities',
            dataType: 'json',
            success: function (json) {
                var $el = $("#CityDrop");
                $.each(json, function (value, key) {

                    $el.append($("<option></option>")
                        .attr("value", key.id).text(key.cityName));
                });
            }
        });

    });
</script>