@model Research.City.Core.ViewModel.Account.ForgotPasswordViewModel
@inject Research.City.Core.SSOT.ContactInfo ContactInfo


@{
    ViewBag.Title = "ارسال لینک بازیابی کلمه عبور";
    Layout = "Layout/LoginPage";

}

<style>
    .isInputLeft {
        text-align: left !important;
    }
</style>

<div class="fullscreen-bg" style="background-image: url(../../theme/assets/images/reg/bg.jpg)"></div>
<div class="row">
    <div class="dark-translucent-bg padding-top-80 padding-bottom-20">
        <div class="container">
            <div class="row">
                <div class="object-visible">
                    <div class="form-block center-block register-block">
                        <div class="text-center">
                            <div class="img-siteLogo" style="background-image: url('@ContactInfo.Logo')"></div>
                            <h2 class="site-title">@ContactInfo.SiteTitle</h2>
                        </div>

                        @{
                            var EmailSendError = TempData["EmailSendError"] as string;
                            if (!string.IsNullOrWhiteSpace(EmailSendError))
                            {
                                <div class="alert alert-danger">
                                    @EmailSendError
                                </div>
                            }
                        }

                        @if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <div class="alert alert-success fade in" style="margin-top: 10px">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                @ViewBag.Message
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(ViewBag.FailMessage))
                        {
                            <div class="alert alert-danger fade in" style="margin-top: 10px">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                @ViewBag.FailMessage
                            </div>
                        }
                        <div class="box-form text-left">
                            <h3 class="box-form-loginTitle">ارسال لینک بازیابی کلمه عبور</h3>
                            <h4 class="box-form-title">@ContactInfo.SiteSlogan</h4>
                            <h4 class="box-form-subTitle">@ContactInfo.SiteDescription</h4>
                            <form asp-action="ForgotPassword" asp-controller="Account" name="loginForm" id="loginForm" autocomplete="off">
                                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                                <div class="login-block">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="input-group box-form-input isInputLtr">
                                                    <span class="input-group-addon"><i class="pe-7s-mail size-30" style="color: #11c7c5"></i></span>
                                                    <input asp-for="Email" class="form-control isInputLeft" placeholder="ایمیل" />
                                                </div>
                                                <span asp-validation-for="Email" class="text-danger"></span>


                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-exir btn-block">ارسال</button>
                                        </div>
                                    </div>

                                    <hr />

                                    <div class="row login-link text-center">
                                        <p>آیا حساب کاربری ندارید؟ <a class="form-block-register" href="@Url.Action("Register","Account")">ثبت نام</a></p>
                                    </div>
                                    <div class="row text-center">
                                        <p>
                                            در حال حاضر یک حساب کاربری دارید؟ <a class="form-block-register" href="@Url.Action("Login","Account")">ورود</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="register__footer">
        <div class="sticky-footer">
            <a href="http://www.exirresearch.ir/" target="_blank"><img class="footer-logo" src="~/theme/assets/images/exir-logo.png" /></a>
            <div class="copyright-space">
                <div class="copyright-text">کلیه حقوق این سامانه متعلق به<strong> @ContactInfo.SiteTitle </strong> است.</div>

                <p class="copyright-link">طراحی و توسعه: <a href="http://www.exirresearch.ir/" target="_blank">فناوری دانش و پژوهش اکسیر</a></p>
                @*<p class="copyright-version">V1.2.0 2017.06.07</p>*@
            </div>
        </div>
    </div>
</div>

